body {
  font-size: 18px;
  font-family: helvetica;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/*Header*/
.header {
  background-color: black;
}

.header .container {
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
}

.header h1 {
  margin: 0.66rem 0 0.66rem 1rem;
  font-size: 1rem;
}

.header img {
  margin-left: 0.5rem;
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
  height: 1.5rem;
}

/*Banner*/

.banner {
  background-image: url(../images/moto.jpeg);
  height: 25em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.box {
  color: white;
  background-color: black;
  top: 9em;
  position: relative;
  width: 20em;
  padding: 2em 3em;
  display: block;
}

.box h1 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 0.25em;
}

.box h4 {
  font-weight: bold;
  font-size: 1rem;
}

/*Nav*/

nav {
  background-color: firebrick;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0.75em 0;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  justify-content: space-between;
  align-items: center;
  list-style: none;

}
